<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/default">
  <body>
    <div id="page" layout:fragment="content">
  
      <div class="container">
      <p class="alert alert-danger" th:if="${error != null}" th:text="${error}"></p>
        <div id="listaDePessoas">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><label th:text = "#{pessoa.id}" ></label></th>
                <th><label th:text = "#{pessoa.nome}"></label></th>
                <th><label th:text = "#{pessoa.nascimento}"></label></th>
                <th><label th:text = "#{pessoa.cpf}"></label></th>
                <th><label th:text = "#{pessoa.funcionario}"></label></th>
                <th></th>
              </tr>
            </thead>
            <tr th:each="pessoa : ${pessoas}">
              <td><span th:text="${pessoa.id}"></span></td>
              <td><span th:text="${pessoa.nome}"></span></td>
              <td><span th:text="${pessoa.dataNascimento} ? ${#dates.format(pessoa.dataNascimento, 'dd/MM/yyyy')}"></span></td>
              <td><span th:text="${pessoa.cpf}"></span></td>
              <td><span th:text="${pessoa.funcionarioStr}"></span></td>
              <td>
                <div class="row">
                  <div class="col-md-4">
                    <a th:href="@{/pessoas/editar/{id}(id=${pessoa.id})}"> 
                      <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a th:href="@{/pessoas/remover/{id}(id=${pessoa.id})}"> 
                      <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a th:href="@{/pessoas/adicionar}" >
              <button type="button" class="btn btn-primary" th:text = "#{comum.botao.adicionar}">
                <span class="glyphicon glyphicon-plus"></span>
              </button> 
          </a>
        </div>
      </div>
    </div>
  </body>
</html>